.wait{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    gap: 10px;
    min-height: 100vh;
}
.wait h1{
    color: var(--color-text);
}

:root{
    --color-text:black;
}